body {
  background-position: center center;
  background: linear-gradient(to bottom right, rgb(63, 43, 150), rgb(168, 192, 255));
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  background-size: 100%;
}

#quote {
  margin-bottom: 0;
}

#author {
  margin-left: 15px;
  margin-top: 0;
}

/* .research {
  background-position: center center;
  background: url("../img/remzi-formal.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.links {
  background-position: center;
  background: url("../img/remzi-eats.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

.navbar {
  width: 100%;
  min-width: 350px;
  background-color: rgba(63,43,150,0.9);
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
}

hr {
  border-color: white;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: lightgray !important;
}

.navbar-brand:hover {
  color: lightgray !important;
}

body {
  background-color: transparent;
  font-family: 'Source Sans Pro', sans-serif;
}

.rainbow-text:hover {
  background-image: linear-gradient(to left, violet, #7600FB, #00E3FB, #05C933, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-background-color: transparent !important;
  color: transparent !important;
  -webkit-text-fill-color: linear-gradient(to left, violet, #7600FB, #00E3FB, #05C933, yellow, orange, red);
}


.black-box {
  flex: 1;
  border-radius: 0;
  color: white;
  padding: 30px;
  float: right;
  min-width: 400px;
}

.kefan-welcome {
  width: 43%;
}
  
.dropdown-submenu {
  position: relative;
}

a {
  color: white;
}

a:hover {
  color: white;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.dropdown-menu {
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  border: 0;
}

.artistic-text {
  font-family: 'Pacifico', cursive; /* Specify a decorative font */
  font-weight: bold;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.photo {
  flex: 1;
  max-width: 50%;
  min-width: 350px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #fff;
  margin-top: 3rem!important;
}

@media (max-width: 700px) {
  .black-box {
    width: 90% !important;
    /*float: none;
    margin: auto;
    margin-top: 50px;*/
  }
}
